#filled-basic {
    width: 275px;
}

#new-task-btn {
    display: none;
}

#new-task-input {
    background-color: inherit;
    width: 100%;
    border: 2px solid blue;
    height: 40px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}

#new-task-input-form {
    width: 85%;
}