@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#task-list-container {
    height: 600px;
    width: 350px;
    padding: 20px;
}

h1 {
    color: #100682;
    font-family: "Roboto", sans-serif;
}

#task-list {
    margin-top: 20px;
    width: 85%;
}